<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ .Hugo.Generator }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ with .Description }}
      <meta name="description" content="{{ . }}">
    {{ end }}
    {{ if .RSSLink }}
      <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
    <link rel="canonical" href="{{ .Permalink }}">
    {{ if (isset .Params "prev") }}
      <link rel="prev" href="{{ .Params.prev }}">
    {{ end }}
    {{ if (isset .Params "next") }}
      <link rel="next" href="{{ .Params.next }}">
    {{ end }}
    <link href="/css/critical-vendor.css" rel="stylesheet" type="text/css" />
    <link href="/css/critical-custom.css" rel="stylesheet" type="text/css" />
    <link href="/css/fira_code.css" rel="stylesheet" type="text/css" />
    <link href="/css/custom.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="hack dark main container">
    <header>{{ block "header" . }}{{ end }}</header>
    <main>{{ block "main" . }}{{ end }}</main>
    <footer>{{ block "footer" . }}{{ end }}</footer>
    {{ if isset .Site.Params "google_analytics" }}
    {{ partial "google_analytics" . }}
    {{ end }}
    {{ if isset .Site.Params "clicky" }}
    {{ partial "clicky" . }}
    {{ end }}
  </body>
</html>
