{{ if ne .Site.Params.social.disqus_shortname false }}
<div id="disqus_thread"></div>
<script>

var disqus_config = function () {
this.page.url = {{ .Permalink }};  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = {{ .UniqueID }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//{{ .Site.Params.social.disqus_shortname }}.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{{ end }}
