<head>
  {{ .Hugo.Generator }}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Site.Title }}</title>
  <style media="screen">
    body {
      background-color: black;
      margin: 0;
    }
    .container {
      position: absolute;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
    .container video {
      min-width: 100%;
      min-height: 100%;
    }
  </style>
</head>
<body>
  <a href="{{ .Site.BaseURL }}">
    <div class="container">
        404. That's an error.
    </div>
  </a>
</body>
