<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ .Hugo.Generator }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Site.Title }}</title>
    <meta name="description" content="{{ .Site.Params.description }}">
    {{ partial "site-verification" . }}
    {{ if .RSSLink }}
      <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
    <link rel="canonical" href="{{ .Permalink }}">
    <link href="/css/critical-vendor.css" rel="stylesheet" type="text/css" />
    <link href="/css/critical-custom.css" rel="stylesheet" type="text/css" />
    <link href="/css/fira_code.css" rel="stylesheet" type="text/css" />
    <link href="/css/custom.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="hack dark main container">
    <header>
      {{ partial "menu" . }}
    </header>
    <main>
      <h1>{{ .Title }}</h1>
      {{ range (.Paginate (where .Data.Pages "Type" "post")).Pages }}
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <p>{{ .Summary }}</p>
      {{ end }}
    </main>
    <footer>
      {{ partial "pagination" . }}
      {{ partial "powered-by" . }}
    </footer>
    {{ if isset .Site.Params "google_analytics" }}
    {{ partial "google_analytics" . }}
    {{ end }}
    {{ if isset .Site.Params "clicky" }}
    {{ partial "clicky" . }}
    {{ end }}
  </body>
</html>
